/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_directory .
 *= require_self
 *= require ./styles/vs2015
 */

 html{
     width: 100%;
     font-size: 27pt;
 }
 body{
     margin: 0 0 0 0;
     overflow-x: hidden;
     line-height: 33px;
 }

 #app-header{
    background-color: #e74c3c;
    color: white;
    font-family: 'Josefin Sans', sans-serif ;
    cursor: pointer;
 }
#app-header img{
    width: 23px;
    margin-top:20px;
}
#app-header #logo{
    margin-right: 15px;
}

#app-header a{
    margin-top: 50px !important;
    color:white;
}
#app-header a:hover{
    color: #bdc3c7;
    background-color: transparent;
}
#app-header a:active{
    color:white;
}

#user_signin{
    margin-top: 57.7px;
}

#user_signin h1{
    font-family: 'Montserrat', sans-serif;
}

#user_signin label{
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}

#user_signin button{
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.nav-buttons{
    margin-top: 11px;
}
